/* Home */

#img-logo-groot {
    
    margin-top: 150px;
    height: 550px;
    width: 25%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

/* Contact pagina  */

#googleMap {
    height: 450px;
    width: 100%;
}

/* Heren pagina  */

#img-logo-klein {
    height: 350px;
    width: 25%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
.specs-table .spec {
    position: relative;
    margin: 10px 0;
    width: 100%;
    padding-left: 50px;
}
.specs-table .spec:before {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    content: "\2702";
    position: absolute;
    left: 15px;
    color: black;
    font-size: 20px;
}
.specs-table h4 {
    font-weight: bold;
    margin: 25px 15px;
}
